body{
    background: linear-gradient(to right,blue,aqua);
}
.div1{
    border: 2px solid purple;
    margin-right:5px;
    margin-bottom: 5px;

}
.div2{
    border: 2px solid purple;
    margin-bottom: 5px;
    margin-right:5px;

}
.div3{
    border: 2px solid purple;
    margin-bottom: 5px;
    margin-right:5px;

}
.div4{
    border: 2px solid purple;
    margin-bottom: 5px;
    margin-right:5px;

}
.div5{
    border: 2px solid purple;
    margin-bottom: 5px;
    margin-right:5px;

}
.div6{
    border:2px solid purple;
    margin-bottom: 5px;
    margin-right:5px;

}